.req-container ul li {
  font-size: 18px;
  padding: 2.5px 0px;
}
.req-container ul li .glyphicon {
  transition: all 0.75s ease;
  float: left;
}
.req-container ul li .glyphicon.invalid {
  color: #c0392b;
}
.req-container ul li .glyphicon.valid {
  color: #27ae60;
  font-size: 22.5px;
  -webkit-transform: rotate(360deg);
}

.req-container {
  float: left;
  padding-left: 15px;
}
